<h4>マイページ</h4>

<h5><strong>登録情報</strong></h5>
<%= link_to(edit_customer_path(@customer)) do %>
<%= button_tag( class: 'btn btn-primary' ) do %>
編集する
<% end %>
<% end %>
<%= button_tag( class: 'btn btn-primary' ) do %>
パスワードを変更する
<% end %>

<table>
  <tbody>
    <tr>
      <td>氏名</td>
      <td><%= current_customer.name_family %> <%= current_customer.name_first %></td>
    </tr>
    <tr>
      <td>カナ</td>
      <td><%= current_customer.name_family_kana %> <%= current_customer.name_first_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= current_customer.postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= current_customer.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= current_customer.tel %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= current_customer.email %></td>
    </tr>

  </tbody>
</table>



<h5><strong>配送先</strong></h5>
<%= button_tag( class: 'btn btn-primary' ) do %>
一覧をみる
<% end %>

<h5><strong>注文履歴</strong></h5>
<%= button_tag( class: 'btn btn-primary' ) do %>
一覧を見る
<% end %>