<div class="container">
	<div class="row">
		<div class="col-lg-9">
		<h4>配送先登録/一覧</h4>
			<%= form_for(@delivery, url:deliveries_path) do |f| %>
			<label>郵便番号</label>
			<%= f.text_field :postal_code %>
			<label>住所</label>
			<%= f.text_field :address %>
			<label>宛名</label>
			<%= f.text_field :name %>
			<%= f.submit '登録する', class: 'btn btn-success btn-sm' %>
			<% end %>


			<table class="table table-hover">
				<thead>
					<tr>
						<th>郵便番号</th>
						<th>住所</th>
						<th>宛名</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @deliveries.each do |delivery| %>
					<tr>
						<td><%= delivery.postal_code %></td>
						<td><%= delivery.address %></td>
						<td><%= delivery.name %></td>
						<td>
							<%= link_to(edit_delivery_path(delivery)) do %>
							<%= button_tag( class: 'btn btn-primary' ) do %>
							編集する
							<% end %>
							<% end %>
							<%= button_tag( class: 'btn btn-danger' ) do %>
							削除する
							<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="col-lg-3">
		</div>
	</div>
</div>


