<h4>注文履歴詳細</h4>

<p><strong>購入者</strong><%= @order.customer.name_family %><%= @order.customer.name_first %></p>
<p><strong>配送先</strong><%= @order.postal_code %><%= @order.address %><%= @order.name %></p>
<p><strong>支払方法</strong><%= @order.payment %></p>
<p><strong>注文ステータス</strong></p>

<% @sum = 0 %>
<table>
    <thead>
		<tr>
			<th>商品名</th>
			<th>単価（税込み）</th>
			<th>数量</th>
			<th>小計</th>
			<th>製作ステータス</th>
		</tr>
	</thead>
	<tbody>
		<% @order_lists.each do |order_list| %>
		<tr>
			<td><%= order_list.sweet.name %></td>
			<td><%= order_list.price %></td>
			<td><%= order_list.amount %></td>
			<td>
				<% sub_total = order_list.price * order_list.amount %>
				<% @sum += sub_total %>
				<%= sub_total %>
			</td>
			<td><%= order_list.creat_status %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<table>
	<tr>
		<th>商品合計</th><td><%= @sum %>円</td>
	</tr>
	<tr>
		<th>送料</th><td>800円</td>
	</tr>
	<tr>
		<th>請求合計</th><td><%= @sum + 800 %>円</td>
	</tr>
</table>