<h4>ジャンル編集</h4>
	<%= form_for(@genre, url: admin_genres_path) do |f| %>
	<label>ジャンル</label>
	<%= f.text_field :name %>
	 <label><%= f.radio_button :is_active, true %>有効</label>
	<label><%= f.radio_button :is_active, false %>無効</label>
	<%= f.submit '変更を保存する', class: 'btn btn-primary btn-sm' %>
	<% end %>