<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCakeOnlineshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header>
      <nav class="navbar navbar-inverse">
        <nav class='navbar-left navbar-brand'>
          <span><h4>LOGO</h4></span>
        </nav>

        <div class="nav navbar-nav navbar-right">
            <li class="nav-item">
                  <%= link_to(new_admin_session_path) do %>
                    管理者login
                  <% end %>
            </li>
            <li class="nav-item">
                  <%= link_to destroy_admin_session_path, :method => :delete do %>
                  管理者ログアウト
                  <% end %>
            </li>

          　<% if customer_signed_in? %>
                <li class="nav-item" style="color:#fff">
                  ようこそ<%= current_customer.name_family %><%= current_customer.name_first %>さん！
                </li>
                <li class="nav-item">
                  <%= link_to(customer_path(current_customer.id)) do %>
                    マイページ
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to(sweets_path) do %>
                    商品一覧
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to(carts_path) do %>
                    カート
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_customer_session_path, :method => :delete do %>
                  ログアウト
                  <% end %>
                </li>
                <% else %>
                <li class="nav-item">
                  <%= link_to(about_path) do %>
                    About
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to(sweets_path) do %>
                    商品一覧
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to(new_customer_registration_path) do %>
                    新規登録
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to(new_customer_session_path) do %>
                    ログイン
                  <% end %>
                </li>
            <% end %>
       </div>
      </nav>
    </header>

    <%= yield %>
    <br><br><br><br>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">
<!--           <link href="app/assets/stylesheets/footer.css" rel="stylesheet">
 -->        </p>
      </div>
    </footer>
  </body>
</html>
